@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
body {
  margin: 0;
  font-family: 'Metal Mania', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

